/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2015, 4:54:13 PM
    Author     : Kevin
*/

table{
    border-collapse: collapse;
    border: 1px solid #ECECEC;
    
  }
table tr{
    border: 1px solid #ECECEC;
    


input.error
{
 border-style:solid;
 border-color:red;
}

p.txt{
    color:rgb(255,0,0);
}


